.icon img {
  width: 300px;
  margin-bottom: 50px;
}

.obsConnection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputGroup {
  display: flex;
  margin: 8px;
  align-items: center;
}

label {
  width: 100px;
  text-align: left;
  margin-right: 8px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  width: 200px;
  padding: 4px;
  border-radius: 4px;
  border: 1px solid gray;
}

.connectButton button {
  background-color: #4caf50;
  border: none;
  border-radius: 0.5rem;
  color: #fff;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
}

.connectButton button:active {
  background-color: #e8e8e8;
}
